@import "../../theme/variables";

page-route-detail {
  .card-background-page ion-card {
    text-align: center;
    box-shadow: 0 1px 2px color($colors, primary);
    background-color: color($colors, light);;
    video {
      display: block;
      width: 100%;
      border-bottom: 0.55px solid color($colors, primary);
    }
    .card-title {
      margin-bottom: 5px;
      font-size: 24px;
      width: 100%;
      font-weight: 600;
      height: 40px;
      line-height: 40px;
      span{
        font-size: 14px;
      }
    }
    .card-subtitle {
      font-size: 14px;
      width: 100%;
      line-height: 180%;
      margin-bottom: 10px;
      text-align: left;
      padding: 0 10px;
    }
  }
}
