page-route-detail {
  .card-background-page ion-card {
    position: relative;
    text-align: center;
    img {
      display: block;
      width: 100%;
    }
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 26px;
      width: 100%;
      font-weight: 700;
      color: #fff;
      span{
        font-size: 14px;
      }
    }
    .card-subtitle {
      font-size: 14px;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }
}
