<ion-header>
  <ion-navbar>
    <ion-title>
      Upload
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form (ngSubmit)="upload()" [formGroup]="uploadForm">
      <ion-item>
        <ion-label stacked>Zone *</ion-label>
        <ion-select formControlName="zone">
          <ion-option value="1">Zone1</ion-option>
          <ion-option value="2">Zone2</ion-option>
          <ion-option value="3">Zone3</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Route *</ion-label>
        <ion-select formControlName="route">
          <ion-option value="1">Red V5 Admin</ion-option>
          <ion-option value="2">Yellow V2 Kenny</ion-option>
          <ion-option value="3">Blue V5 Admin</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Your name *</ion-label>
        <ion-input type="text" formControlName="performer"></ion-input>
      </ion-item>

      <ion-item stacked>
        <ion-label stacked>Paste video url</ion-label>
        <ion-toggle (ionChange)="switchVideoSource(isVideoUrl)"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label stacked *ngIf="!isVideoUrl">Select video</ion-label>
        <ion-input type="file" formControlName="videoPath" *ngIf="!isVideoUrl"></ion-input>

        <ion-label stacked *ngIf="isVideoUrl">Video url</ion-label>
        <ion-input type="url" formControlName="videoUrl" *ngIf="isVideoUrl" placeholder="http://"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Route tips</ion-label>
        <ion-textarea formControlName="tips"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label stacked>contacts</ion-label>
        <ion-input type="text" formControlName="contacts"></ion-input>
      </ion-item>

      <ion-item>
        <button type="submit" block ion-button icon-end [disabled]="uploadForm.invalid">
          Upload
          <ion-icon name="cloud-upload"></ion-icon>
        </button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
